In [9]:
import pandas as pd

df = pd.read_csv("breweries_us.csv", encoding = 'utf-8') #parsing csv

df = df[df.website.str.len() != 145] #deleting series without websites
df.index = range(1,len(df)+1) #reindexing dataframe

print(df.sample(10)[['brewery_name','state','website','state_breweries']])
def append(dataframe, l): #appending a list to the dataframe 
    dataframe.loc[-1] = l  # adding a row
    dataframe.index = dataframe.index + 1  # shifting index
    dataframe = dataframe.sort_index()

                            brewery_name       state  \
403   Gordon Biersch Brewery Restaurants     arizona
100        Mission Brewery @ Miami Grill  california
38                    Shmaltz Brewing Co  california
1350         Maroney Sausage Est./Widmer      oregon
498                   Dillon Dam Brewery    colorado
383               Denali Brewing Company      alaska
252                  Beach House Brewery  california
235            BJ's Restaurant & Brewery  california
1138                    Matt brewing Co.    new-york
670             Rock Bottom Brewery (#7)    illinois

                               website  state_breweries
403      http://www.gordonbiersch.com/               34
100        http://www.miamigrille.com/              284
38          http://shmaltzbrewing.com/              284
1350  http://www.beer-snob.com/or.html              156
498         http://www.dambrewery.com/              182
383   http://denalibrewingcompany.com/               14
252   http://www.lajollabrewhouse.com/              284
235       http://www.bjsbrewhouse.com/              284
1138           http://www.saranac.com/              107
670         http://www.rockbottom.com/               74

In [5]:
selection = df[['type', 'website', 'state']] #creating selection for type, website and state
counted = pd.DataFrame(selection.website.value_counts()) # dataframe with counted for every website
v = counted.idxmax().values #finding max value
print('Наибольшая сеть пивных в стране - \n', counted.website[v])

Наибольшая сеть пивных в стране -
 http://www.rockbottom.com/    34
Name: website, dtype: int64

In [6]:
unique_states = selection.state.unique() 
minimal = list(set(df[(df.state_breweries>=2) & (df.state_breweries <=20 )]['state'])) #creating list with breweries more 2 less 20
print ('Больше 2, но менее 20 пивных в штатах: \n',minimal)

Больше 2, но менее 20 пивных в штатах:
 ['kentucky', 'iowa', 'north-dakota', 'oklahoma', 'south-dakota', 'washington-dc', 'alabama', 'rhode-island', 'arkansas', 'nebraska', 'connecticut', 'nevada', 'louisiana', 'west-virginia', 'delaware', 'alaska', 'new-hampshire', 'puerto-rico', 'wyoming', 'hawaii']

In [7]:
list_of_states = pd.DataFrame(columns = {'state','website', 'type'})
for x in unique_states:
    new_selection = selection[selection['state'] == x] #selecting new state
    type_count = new_selection.type.value_counts().idxmax() #counts brewerys with type
    l = [x,new_selection.website.value_counts().idxmax(), type_count] #creating list with values [state, max brewery net]
    append(list_of_states,l)
print('Список самых крупных сетей пивных в каждом штате:\n ',list_of_states)

Список самых крупных сетей пивных в каждом штате:
               state                                      website          type
50      california                 http://www.bjsbrewhouse.com/       Brewpub
49          nevada             http://www.mainstreetcasino.com/       Brewpub
48         wyoming            http://www.snakeriverbrewing.com/       Brewpub
47         alabama                    http://backfortybeer.com/  Microbrewery
46     connecticut             http://www.southportbrewing.com/       Brewpub
45            iowa                         http://www.gcfb.net/       Brewpub
44        missouri          http://www.morganstreetbrewery.com/       Brewpub
43        nebraska                         http://www.gcfb.net/       Brewpub
42          alaska                  http://www.alaskabeers.com/  Microbrewery
41         arizona                   http://www.rockbottom.com/       Brewpub
40        arkansas             http://www.darkhillsbrewery.com/       Brewpub
39        colorado                      http://www.cbpotts.com/       Brewpub
38        delaware              http://www.ironhillbrewery.com/       Brewpub
37         florida              http://www.hopsrestaurants.com/       Brewpub
36         georgia              http://www.buckheadbrewery.com/       Brewpub
35          hawaii                http://www.mauibrewingco.com/  Microbrewery
34           idaho                   http://www.cdabrewing.com/       Brewpub
33        illinois                  http://www.gooseisland.com/       Brewpub
32         indiana                      http://www.madbrew.com/       Brewpub
31          kansas                         http://www.gcfb.net/       Brewpub
30        kentucky                      http://www.bbcbrew.com/       Brewpub
29       louisiana                        http://www.abita.com/  Microbrewery
28           maine                http://www.sebagobrewing.com/       Brewpub
27        maryland                       http://www.duclaw.com/       Brewpub
26   massachusetts                    http://www.beerworks.net/  Microbrewery
25        michigan                    http://www.bellsbeer.com/       Brewpub
24       minnesota                         http://www.gcfb.net/       Brewpub
23         montana         http://www.lewisandclarkbrewing.com/  Microbrewery
22   new-hampshire                 http://www.millystavern.com/       Brewpub
21      new-jersey                       http://www.basilt.com/       Brewpub
20      new-mexico          http://www.secondstreetbrewery.com/       Brewpub
19        new-york                   http://www.keeganales.com/       Brewpub
18  north-carolina                http://www.weepingradish.com/  Microbrewery
17    north-dakota               http://www.theoldbroadway.com/       Brewpub
16            ohio                http://www.thebrewkettle.com/       Brewpub
15        oklahoma             http://www.okclive.com/belleisle       Brewpub
14          oregon               http://www.mcmenaminspubs.com/       Brewpub
13    pennsylvania              http://www.ironhillbrewery.com/       Brewpub
12    rhode-island  http://www.triumphbrewing.com/indexfl6.html  Microbrewery
11  south-carolina              http://www.littleriverbrew.com/       Brewpub
10    south-dakota                     http://www.humphard.net/       Brewpub
9        tennessee                   http://www.boscosbeer.com/       Brewpub
8            texas                      http://www.tworows.com/       Brewpub
7             utah                 http://www.wasatchbeers.com/       Brewpub
6          vermont                   http://www.norwichinn.com/  Microbrewery
5         virginia     http://www.greatamericanrestaurants.com/       Brewpub
4       washington                       http://www.theram.com/       Brewpub
3    west-virginia                   http://www.netbrewery.com/       Brewpub
2        wisconsin                http://www.legendseatery.com/       Brewpub
1    washington-dc                  http://www.capcitybrew.com/       Brewpub
0      puerto-rico                 http://oldharborbrewery.com/       Brewpub

In [8]:
def select_double_items(dataframe): #even number function
    new_df = dataframe.loc[dataframe.index%2 == 0] #using loc
    print(new_df)
def select_indouble_items(dataframe): #odd numbers function
    new_df = dataframe.iloc[dataframe.index%2 != 0] #using iloc
    print(new_df) 
select_double_items(selection)
select_indouble_items(selection)

              type                                  website          state
2          Brewpub               http://www.valleybrew.com/     california
4          Brewpub           http://www.ukiahbrewingco.com/     california
6     Microbrewery     http://www.trumer-international.com/     california
8          Brewpub               http://www.triplerock.com/     california
10         Brewpub                http://www.tiedhouse.com/     california
...            ...                                      ...            ...
1842       Brewpub                http://www.aleasylum.com/      wisconsin
1844       Brewpub  http://www.johnharvards.com/index.shtml  washington-dc
1846       Brewpub                http://www.chophouse.com/  washington-dc
1848       Brewpub              http://www.capcitybrew.com/  washington-dc
1850       Brewpub             http://oldharborbrewery.com/    puerto-rico

[925 rows x 3 columns]
                 type                                            website  \
1             Brewpub                         http://www.valleybrew.com/
3        Microbrewery                         http://www.valleybrew.com/
5             Brewpub                      http://www.tustinbrewery.com/
7     RegionalBrewery               http://www.trumer-international.com/
9             Brewpub                          http://www.tiedhouse.com/
...               ...                                                ...
1841          Brewpub                        http://www.angryminnow.com/
1843  ContractBrewery                        http://www.foggybottom.com/
1845          Brewpub                      http://www.gordonbiersch.com/
1847          Brewpub  http://www.chophouse.com/RockBottomWeb/CH/Home...
1849          Brewpub                        http://www.capcitybrew.com/

              state
1        california
3        california
5        california
7        california
9        california
...             ...
1841      wisconsin
1843  washington-dc
1845  washington-dc
1847  washington-dc
1849  washington-dc

[925 rows x 3 columns]